/* $Id$ */

body {
	margin: 0;
	padding: 0;
	font-family: arial, helvetica, clean, sans-serif;
	font-size: 14px;
	background-color: #fff;
}

#page {
	padding: 0;
	margin: 0;
	width: 99%;
}

img {
	border: none;
}

.clear-block {
	width: 100%;
	height: 0;
	clear: both;
}

/* header and footer */

#header {
	width: 100%;
	overflow: hidden;
	height: 100px;
	min-width: 980px;
	margin: 16px 0;
	border-bottom: 4px solid #99cccc;
}

#logo-text {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	padding: 0;
}

#logo-text-inner {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding: 0em 1em;
	margin: 0;
	height: 80px;
	background-color: #d6e4f9;
	border: solid #6699cc;
	border-width: 1px 1px 3px 3px;
	border-radius: 16px;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	-khtml-border-radius: 16px;
	-xv-border-radius: 16px;

	font-family: Georgia, Arial, Helvetica;
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
	color: #336699;
}

#logo-text-inner:hover {
	background-color: #6699cc;
}

#banner {
	display: inline;
	float: right;
	margin: 0;
}

#footer {
	display: block;
	width: 100%;
    height: 80px;
	margin-top: 40px;
	background-color: #fff;
	border-top: 4px solid #99cccc;
}

#footer-inner {
	display: inline;
	float: left;
	margin: 30px;
	font-size: 0.5em;
}

#logo-image {
	display: inline;
	float: left;
	margin: 10px;
}

/* content */

#content {
    padding: 8px;
}

#content h1 {
	color: #666666;
	font-family: Georgia, Arial, Helvetica;
	font-size: 1.5em;
	font-weight: bold;
	margin-left: 10px;
}

#content a {
	color: #333366;
	text-decoration: none;
	background: none;
	font-family: Lucida Sans Unicode, Arial, Helvetica;
	text-decoration: underline;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 2px;
}

#content a:visited {
	color: #333366;
	text-decoration: underline;
}

#content a:hover {
	color: #333366;
	text-decoration: none;
	background: #ccccff;
}

/* tables */

#content table {
	border: 0 none;
	border-collapse: collapse;
	margin: 4px;
}

#content td, #content th {
	border: 1px solid #b8b8b8;
	padding: 5px;
}

#content tr.even {
	background-color: #f0f8ff;
	border-color: #b8b8b8;
}

#content tr.odd {
	background-color: #f0f0ff;
	border-color: #b8b8b8;
}

#content tr:hover {
	background-color: #ffffff;
}

#content th, #content th a:link, #content th a:visited, #content th a:hover {
	font-family: Georgia, Arial, Helvetica;
	font-size: 1em;
	font-weight: bold;
	color: #6666cc;
}

.indexpage #content th, #content .index-block th, #content .index-block th a:hover {
	text-align: center;
	background-color: #e8f0ff;
}

.formpage #content th, #content .form-block th {
	text-align: left !important;
	background-color: transparent !important;
}

#content th img {
	vertical-align: middle;
	margin: 0 0 0 -2px;
	padding: 0;
}

.codes-as-string {
	padding: 2px 2px;
	max-width: 10em;
	max-height: 2.4em;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}

/* pagination */

.pagination {
	padding: 5px 5px;
	margin: 5px 5px;
}

.pagination img {
	vertical-align: middle;
}

.pagination > img {
	/* see main.css, #content a:link */
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 2px;
	opacity: 0.40;
	filter: alpha(opacity=40);
	-moz-opacity: 0.40;
	-khtml-opacity: 0.40;
}

/* filters */

.filter-strip {
	position: relative;
	z-index: 1;
	padding: 0;
	margin: 5px auto 5px 20px;
	float: left;
}

.filter-button {
	float: left;
	margin: 0;
	padding: 4px 8px;
	border: solid #6699cc;
	border-width: 1px 1px 2px 2px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-xv-border-radius: 5px;
	color: #000;
	background-color: #e8f0ff;
}

.filter-button:hover {
	background-color: #d6e4f9;
}

.filter-button a, .filter-button a:visited {
	background: none !important;
	text-decoration: none !important;
	color: #000;
}

.filter-button a:hover {
	text-decoration: underline !important;
	color: #000;
}

.filter-button .filter-reset a:hover {
	background-color: #f0f8ff !important;
}

.filter-strip.js .filter-button a:hover {
	text-decoration: none !important;
	color: #000;
}

.filter-outer {
	margin: 0;
	padding: 16px;
	border: 3px solid #999;
	border-radius: 16px;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	-khtml-border-radius: 16px;
	-xv-border-radius: 16px;
	background-color: #fff;
	min-width: 220px;
	max-width: 600px;
}

.filter-strip .filter-outer {
	position: static;
	display: block;
	float: none;
	margin-left: 8em;
}

.filter-strip.js .filter-outer {
	position: absolute;
	display: none;
	float: none;
	top: 0; 
	left: 105%;
	margin: 3px;
	box-shadow: #ccccff 12px 24px 24px 0px;
	-moz-box-shadow: #ccccff 12px 24px 24px 0px;
	-webkit-box-shadow: #ccccff 12px 24px 24px 0px;
	-khtml-box-shadow: #ccccff 12px 24px 24px 0px;
	-xv-box-shadow: #ccccff 12px 24px 24px 0px;
}

.filter-strip.js .filter-outer input[type=submit] {
	display: none;
}

.filter-inner {
	background: transparent;
	text-align: left;
}

.filter-inner ul.radio_list, .filter-inner ul.checkbox_list {
	list-style-type: none;
	padding-left: 0;
}

.filter-inner form ul.error_list {
	display: none;
}

.filter-inner ul.error_list {
	padding: 4px 8px;
	border: 1px solid #cc3333;
	background-color: #ffe0e0;
	list-style-type: none;
	text-align: center;
}

/* mask search / quick search */

#quick-search {
	position: relative;
	margin: 10px auto 8px 40px;
	padding: 0;
	width: 30%;
	min-width: 480px;
	background-color: #e8f0ff;
	text-align: center;
}

.quick-search-inner {
	margin: 0 auto;
	padding: 8px 16px;
}

#quick-search h2 {
	display: none;
}

#quick-search.js h2 {
	display: inline;
	color: #999;
	font-size: 16px;
}

#quick-search.js input[name=submit] {
	display: none;
}

#quick-search form {
	display: inline;
}

/* spinner */

#quick-search .spinner {
	background: url(spinner1.gif);
	display: none;
	position: absolute;
	left: 100%;
	top: 0;
	margin: 0;
	width: 36px;
	height: 39px;
	vertical-align: middle;
}

#quick-search.working .spinner {
	display: block;
}

/* forms */

#content form ul.error_list {
	font-weight: bolder;
	color: #993333;
	background: #ffe0e0;
	list-style-type: none;
	vertical-align: middle;
	display: block;
	float: right;
	text-align: left;
	padding: 1px 1em;
	margin: 1px auto 1px 1em;
}

#content form ul.error_list li {
	display: block;
}

#content table + hr {
	border: 1px dashed #e0e8ff;
	margin: 14px auto 8px 8px;
	text-align: left;
	width: 50%;
}

#content a img {
	border: none;
	margin: 0 2px 0 0;
	vertical-align: middle;
}

